<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <img src="././img/gryffindor.png" alt="">
       <a href="/house_name/characters">gryffindor</a>

    </section>

    <section>
        <img src=".././img/hufflepuff.png" alt="">
       <a href="/house_name/characters">hufflepuff</a>
    </section>

    <section>
        <img src="../img/ravenclaw.png" alt="">
       <a href="/house_name/characters">ravenclaw</a>
    </section>

    <section>
        <img src="../img/slytherin.png" alt="">
      <a href="/house_name/characters">slytherin</a>
    </section>


    
</body>
</html>