<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%result.forEach(element=>{%>
   
        <p> Name: <%=element.name%></p>
        <p> patronus: <%=element.patronus%></p>
        <p> status: <%=element.alive%></p>
        <br>
        <a href="/characters/<%=element.id%>">view Character</a>
        <%})%>
    
</body>
</html>